@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Raleway:wght@400;700;900&display=swap");
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10 PX = 1rem**/

  @media only screen and (min-width: $breakpoint-desktop) {
    font-size: 70%;
  }
}

body {
  background-color: $dark-primary;
  color: $white;
  font-family: $fa-body;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../images/keyboard-image.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    width: 100%;
    height: 100%;
    max-height: calc(100% + 10rem);
    z-index: -1;
  }

  @include mediaQuery(smallPhone) {
    &::before {
      background-image: url("../images/keyboard-gif.gif");
      background-size: cover;
      background-position: center;
    }
  }
}

.container-full {
  width: 100%;
  margin: 0 auto;
}

.container-mx {
  width: min(95%, 120rem);
  margin: 0 auto;
}
