@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Raleway:wght@400;700;900&display=swap");
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10 PX = 1rem**/
  scroll-behavior: smooth;

  @media only screen and (min-width: $breakpoint-desktop) {
    font-size: 70%;
  }

  // /* Estilos para el tema light (claro) */
  // .light {
  //   background-color: #f9f9f9;
  //   color: #141414;
  // }

  // /* Estilos para el tema dark (oscuro) */
  // .dark {
  //   background-color: #141414;
  //   color: #f9f9f9;
  // }

}

* {
  color: $white;
}

body {
  background-color: $primary;
  font-family: $fa-body;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../images/keyboard-image.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    width: 100%;
    height: calc(100vh + 2.2rem);
    z-index: -1;
  }

  @include mediaQuery(smallPhone) {
    &::before {
      background-image: url("../images/keyboard-gif.gif");
      background-size: cover;
      background-position: center;
    }
  }

}

.container-full {
  width: 100%;
  margin: 0 auto;
}

.container-mx {
  width: min(95%, 120rem);
  margin: 0 auto;
}

.section {
  padding: 270px 0;
}

.w-70 {
  width: 100%;
  max-width: 73.3333%;
}
.w-50 {
  width: 100%;
  max-width: 50%;
}
.w-30 {
  width: 100%;
  max-width: 33.3333%;
}
.w-20 {
  width: 100%;
  max-width: 25%;
}
