// Primary
// - Mobile: 375px
// - Desktop: 1440px



// Typography
$fa-headings: 'Pathway Gothic One', sans-serif;;
$fa-body: 'Albert Sans', sans-serif;

$fa-body-1: 'Raleway', sans-serif;

// Body Copy
$paragraph-size: 16px;

/** Primary Colors**/
$primary: #141414;
$white-1: #fff;
$white-2: #f6f6f9;
$black-1: #0e0e16;
$black-2: #1e202e;
$black-3: #11121b;
$black-4: #242636;
$grey-1: #252737;
$grey-2: #292b3d;
$grey-3: #3f3f4b;
$grey-4: #76767c;
$grey-5: #a7a7af;
$grey-6: #d4d4e1;
$grey-7: #e5e5eb;
$grey-8: #f6f6f9;
$purple-1: #5862ce;
$purple-2: #8c98ff;
$purple-3: #1e2142;
$purple-4: #c8caff;
$red-1: #f21905;
$red-2: #ff764b;
$blue-1: #ecf1ff;
$blue-2: #f4f7ff;
$blue-3: #3c4252;
$blue-4: #f6f9ff;
$blue-5: #b7e1ff;
$blue-6: #00caff;
$blue-7: #4f81ff;
$blue-8: #212539;
$dark-blue: #020204;
$code-background: #212539;
/** Neutral Colors**/

$dark-primary: #141414;
$dark-gray: #3D3D3D;
$white: #fff;
$black: #000;

/** Breakpoint Sass Variables**/
$breakpoint-mobile-sm: 30em;
$breakpoint-mobile: 37.5em;
$breakpoint-tablet: 48em;
$breakpoint-desktop: 90em;
$breakpoint-desktop-medium: 105em;
$breakpoint-desktop-large: 120em;
$breakpoint-desktop-xlarge: 160em;
