@charset "UTF-8";
/** Primary Colors**/
/** Neutral Colors**/
/** Breakpoint Sass Variables**/
@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Raleway:wght@100;300;400;700;900&display=swap");
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10 PX = 1rem**/
  scroll-behavior: smooth;
}
@media only screen and (min-width: 90em) {
  html {
    font-size: 70%;
  }
}

* {
  color: #fff;
}

body {
  background-color: #141414;
  font-family: "Albert Sans", sans-serif;
}
body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../images/keyboard-image.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  width: 100%;
  height: calc(100vh + 2.2rem);
  z-index: -1;
}
@media only screen and (min-width: 30em) {
  body::before {
    background-image: url("../images/keyboard-gif.gif");
    background-size: cover;
    background-position: center;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
}

.container-full {
  width: 100%;
  margin: 0 auto;
}

.container-mx {
  width: min(95%, 120rem);
  margin: 0 auto;
}

.section-md {
  padding: 140px 0;
}

.section-xl {
  padding: 270px 0;
}

.w-70 {
  width: 100%;
  max-width: 73.3333%;
}

.w-50 {
  width: 100%;
  max-width: 50%;
}

.w-30 {
  width: 100%;
  max-width: 33.3333%;
}

.w-20 {
  width: 100%;
  max-width: 25%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img,
picture {
  display: block;
  user-select: none;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input[type=range] {
  margin-block: 1.25rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  margin-top: 1.5rem;
  border: 1px solid #fff;
}

/** Headings **/
h1,
h2,
h3,
h4 {
  font-family: "Pathway Gothic One", sans-serif;
  margin: 0 0 5rem 0;
  line-height: 1.2;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 2.4rem;
}

/** Global */
p {
  margin: 0;
}

.about .card__content:is(:hover) #g_eyes-closed {
  opacity: 1;
}
.about .card__content:is(:hover) #g_eyes-open {
  opacity: 0;
}
.about .card__content:is(:hover) #hair {
  d: path("M 145.89 16.49 c -5.77 -4.3 -12.58 -8 -19.69 -9.39 S 114.59 5.31 107.47 7 c -1.83 0.43 -2.45 0.87 -4.06 -0.17 C 102.05 6 92.58 -3.79 63.7 1.63 C 34.51 7.11 25.84 51 15 52.71 c -3.91 0.61 -8.73 -0.43 -8.88 -2.83 c -3.12 7.12 -5.12 20.12 7.88 29.12 a 32.23 32.23 0 0 0 18.74 4 a 25.22 25.22 0 0 0 7.89 -2 c 3.09 -1.36 5.56 -3.8 8.59 -5.09 a 60.65 60.65 0 0 1 -10.29 7.19 a 24.89 24.89 0 0 1 -5.73 2.27 c -1.38 0.38 -4.22 1.66 -5.55 1.32 a 40.65 40.65 0 0 0 25 -3.54 a 58.26 58.26 0 0 0 10.3 -6.14 c 3.18 -2.39 6.83 -4.83 9.32 -8 c -1 1.35 0.78 -0.66 1 -0.9 q 1 -1.05 2 -2.13 c 1.12 -1.24 2.23 -2.5 3.28 -3.8 A 83.17 83.17 0 0 0 77 73 C 92 65 93.76 49.43 96 46.49 c -2.14 6.4 2 13.51 -3 19.51 c 6 -1 10.41 -6.22 13.79 -10.47 a 33.14 33.14 0 0 0 6.85 -16.44 c 4.28 11.67 18.36 14.91 19.36 28.91 c 3 -7 3 -10 -0 -14 c 11 10 27.54 15.58 29 36 c 1.16 -5.34 4.88 -9.62 7 -19 a 81.21 81.21 0 0 0 1.93 -18.63 C 167 31 156.57 24.45 145.89 16.49 Z") !important;
}
.about .avatar {
  transition: all 1s ease-in-out;
}
.about .avatar {
  position: relative;
}
.about .avatar__bubble {
  position: absolute;
  top: -10px;
  right: -50px;
  color: #242636;
  padding: 0.8rem;
  background: radial-gradient(circle at 50%, black black);
}
.about .avatar__bubble::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border-right: 1px solid #0e0e16;
  background-color: #fff;
  transform: translate(1px, 15px) rotate(200deg);
}
.about .avatar__bubble::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 15px;
  height: 15px;
  border-bottom: 1px/2px solid #0e0e16;
  transform: translate(1px, 15px) rotate(0);
}
.about .avatar__image {
  position: relative;
  background-color: #d4d4e1;
  border-radius: 10px;
  margin-bottom: 1rem;
  width: 100px;
}
.about .avatar__image #eyes {
  opacity: 0;
  position: absolute;
  top: 37%;
  left: 35%;
}
.about .avatar__image #eyes .eye-1 {
  fill: none;
  stroke: #282828;
  stroke-miterlimit: 5;
  stroke-width: 13;
  stroke-linecap: round;
}
.about .avatar__image #eyes .eye-2 {
  fill: none;
  stroke: #282828;
  stroke-miterlimit: 5;
  stroke-width: 13;
  stroke-linecap: round;
}

/** Loader ------------------------------*/
.loading__dev {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20rem;
  font-size: 5rem;
  animation-timeline: "2";
}
.loading__dev span {
  padding-top: 10px;
  font-size: 2rem;
}
@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon-spinner-3:before {
  content: "\e002";
}

/** Header Styles ------------------------------*/
.header {
  position: fixed;
  background: linear-gradient(180deg, var(--black-3) 0%, rgba(0, 0, 0, 0) 100%);
  backdrop-filter: blur(4px);
  top: 0;
  padding: 0;
  z-index: 4;
}
.header .navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header .navbar .logo {
  flex: 0 0 auto;
}
.header .navbar-tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 0 auto;
  gap: 1rem;
}
.header .navbar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
}
.header .navbar-menu__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .navbar-menu__content-item {
  margin: 0 1rem;
}
.header .navbar-menu__content-item a {
  color: #fff;
  font-size: 1.6rem;
}
.header .navbar-social__content {
  display: flex;
  flex-direction: row;
}
.header .navbar-social__content-item {
  margin: 0 1rem;
}
.header .navbar #theme-toggle {
  border-radius: 10px;
  border: 1px solid #3D3D3D;
  padding: 0.8rem;
  transition: all 0.5s ease-in-out;
}
.header .navbar #theme-toggle:hover {
  border-color: #fff;
}
@media only screen and (min-width: 37.5em) {
  .header {
    padding: 0 10rem;
  }
  .header .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .header .navbar .social-tabs__content {
    display: flex;
    flex-direction: row;
  }
  .header .navbar .social-tabs__content-item {
    margin: 0 1rem;
  }
}

/** Main Section Styles ------------------------------*/
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  overflow: hidden;
  padding: 0 1rem;
  width: 100%;
  height: 95vh; /* Ajusta la altura según tus necesidades */
  text-align: center;
}
.main-title {
  margin-bottom: 0.7rem;
}
.main-paragraph {
  font-size: 1.4rem;
  margin-bottom: 8rem;
}
.main-button {
  position: relative;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  font-size: 2rem;
  padding: 1rem 3rem;
}
.main-button::after {
  background: #ffffff;
  content: "";
  height: 100vh;
  left: 50%;
  position: absolute;
  top: 100%;
  width: 1px;
}
@media only screen and (min-width: 37.5em) {
  .main-image {
    margin-bottom: 4rem;
  }
}

/** About Section Styles ------------------------------*/
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column-reverse;
  padding-top: 4rem;
  border-top: 1px solid #fff;
  overflow: hidden;
}
.about::before {
  content: "";
  background-image: url(../images/about-bg-1.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: matrix(0, 1, 1, 0, 0, 0) rotate(270deg) translateY(25rem);
  z-index: -1;
}
.about::after {
  content: "";
  background-image: linear-gradient(0deg, #141414, #0f1524, #000);
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}
.about__description {
  font-size: 1.6rem;
  line-height: 2;
  margin-top: 2rem;
  text-align: center;
}
.about__description h2 {
  margin-bottom: 1rem;
}
.about__description hr {
  margin: 0 auto;
  width: 220px;
}
.about__description p {
  margin-top: 2rem;
}
.about__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: none;
  border: none;
}
.about__card::before {
  content: "";
  position: absolute;
  right: 0;
  top: -2rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.01rem);
  -webkit-backdrop-filter: blur(0.01rem);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  max-width: 600px;
  height: 300px;
  z-index: -1;
}
.about .card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 3px solid #3f3f4b;
  box-shadow: 5px 5px 0 0 #76767c;
  border-radius: 5px;
  padding: 2rem 0;
  width: 300px;
  height: 350px;
}
.about .card__content .card__title,
.about .card__content .card__description,
.about .card__content .avatar__image {
  transition: transform 0.8s ease;
}
.about .card__content:hover .card__title,
.about .card__content:hover .card__description,
.about .card__content:hover .avatar__image {
  transform: translateY(-14px);
  transition: all 0.8s ease;
}
.about .card__content:hover .card__buttons {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}
.about .card__title, .about .card__description {
  font-family: "Raleway", sans-serif;
  color: #0e0e16;
  word-spacing: 2px;
}
.about .card__title {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: -1px;
  text-transform: uppercase;
}
.about .card__description {
  color: #a7a7af;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  letter-spacing: 4px;
}
.about .card__buttons {
  transform: none;
  transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.about .card__buttons ul {
  display: flex;
  flex-direction: row;
}
.about .card__buttons ul li {
  padding: 0 1rem;
}
.about .card__buttons ul li a i {
  font-size: 3rem;
  color: #0e0e16;
}
@media only screen and (min-width: 37.5em) {
  .about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 270px;
  }
  .about::before {
    background-size: contain;
    transform: matrix(0, 1, 1, 0, 0, 0) rotate(270deg) translateY(25rem);
  }
  .about__description {
    color: #fff;
    padding: 0 2rem;
    text-align: inherit;
  }
  .about__description hr {
    margin: 0;
    width: 220px;
  }
  .about .card::before {
    right: 100px;
  }
  .about .card__buttons {
    opacity: 0;
    visibility: hidden;
    transform: translateY(34px);
  }
}

/** Skills Section Styles ------------------------------*/
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  align-items: center;
  overflow: hidden;
}
.skills::before {
  position: absolute;
  content: "";
  left: 40%;
  top: -160px;
  background: radial-gradient(52.42% 52.36% at 39.89% 51.36%, rgba(69, 62, 151, 0.8901960784) 0%, rgba(18, 19, 29, 0) 70%);
  background-size: 1200px 100%;
  width: 1200px;
  height: 1200px;
  z-index: -1;
}
.skills__intro {
  text-align: center;
  margin-bottom: 5rem;
}
.skills__logos {
  overflow: hidden;
  padding: 1rem 0;
  position: relative;
  width: 100%;
  max-width: 580px;
  height: auto;
}
.skills .logo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem 0;
  place-items: center;
  width: 100%;
}
.skills .logo__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 20px;
  background-color: #8c98ff;
  padding: 2rem;
  width: 100%;
  height: auto;
  max-width: 70px;
  max-height: 70px;
  animation: scaleIn 1s ease-in-out infinite alternate;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.2);
}
.skills .logo__image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(120deg, #5c589f 4.89%, #58559c 50%, #25244d 102%);
}
.skills .logo__image::after {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  border-radius: inherit;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  z-index: -1;
  background: linear-gradient(135deg, #b4b3ff 0.46%, rgba(136, 135, 185, 0.5) 45.36%, rgba(174, 173, 246, 0.5) 96.24%);
}
.skills .logo__image img {
  object-fit: contain;
  width: 100%;
  height: auto;
  min-height: 80px;
  max-height: 80px;
  z-index: 1;
}
@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.skills__lines, .skills__lines--2 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
}
.skills__lines svg, .skills__lines--2 svg {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.skills__lines svg line, .skills__lines--2 svg line {
  stroke: white;
  stroke-width: 0.07;
}
.skills__lines--2 {
  transform: rotate(90deg);
  transform-origin: center center;
}
@media only screen and (min-width: 37.5em) {
  .skills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .skills__intro {
    font-size: 1.6rem;
    padding: 0 10rem;
    text-align: left;
  }
  .skills .logo__image {
    max-width: 110px;
    max-height: 110px;
  }
  .skills__lines, .skills__lines--2 {
    opacity: 1;
  }
}

/** Footer Section Styles ------------------------------*/
.footer__inner .icons {
  padding: 1rem;
}
.footer__inner .icons__item a i {
  font-size: 2rem;
}
.footer__inner .copyright__list li {
  font-size: 1.6rem;
  border: none;
}
.footer__inner .copyright__list li span {
  font-weight: 300;
}
@media only screen and (min-width: 37.5em) {
  .footer .copyright__list li {
    padding: 0 1.4rem;
  }
  .footer .copyright__list li:not(:last-child) {
    border-right: 1px solid #fff;
  }
}

/*# sourceMappingURL=main.css.map */
