@charset "UTF-8";
/** Primary Colors**/
/** Neutral Colors**/
/** Breakpoint Sass Variables**/
@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Raleway:wght@400;700;900&display=swap");
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10 PX = 1rem**/
}
@media only screen and (min-width: 90em) {
  html {
    font-size: 70%;
  }
}

body {
  background-color: #141414;
  color: #fff;
  font-family: "Albert Sans", sans-serif;
}
body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../images/keyboard-image.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  width: 100%;
  height: 100%;
  max-height: calc(100% + 10rem);
  z-index: -1;
}
@media only screen and (min-width: 30em) {
  body::before {
    background-image: url("../images/keyboard-gif.gif");
    background-size: cover;
    background-position: center;
  }
}

.container-full {
  width: 100%;
  margin: 0 auto;
}

.container-mx {
  width: min(95%, 120rem);
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img,
picture {
  display: block;
  user-select: none;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input[type=range] {
  margin-block: 1.25rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  border: 1px solid #ebebeb;
}

/** Headings **/
h1,
h2,
h3,
h4 {
  font-family: "Pathway Gothic One", sans-serif;
  margin: 0 0 5rem 0;
  line-height: 1.2;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 2.4rem;
}

/** Global */
p {
  margin: 0;
}

/** Header Styles */
.header {
  position: fixed;
  top: 0;
  background-color: hsla(0deg, 0%, 8%, 0.4);
  filter: blur(1);
  padding: 0 10rem;
}
.header .navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header .navbar .logo {
  flex: 0 0 auto;
}
.header .navbar-tabs {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
}
.header .navbar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
}
.header .navbar-menu__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .navbar-menu__content-item {
  margin: 0 1rem;
}
.header .navbar-menu__content-item a {
  color: #fff;
  font-size: 1.6rem;
}
.header .navbar-social__content {
  display: flex;
  flex-direction: row;
}
.header .navbar-social__content-item {
  margin: 0 1rem;
}
@media only screen and (min-width: 37.5em) {
  .header .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .header .navbar .social-tabs__content {
    display: flex;
    flex-direction: row;
  }
  .header .navbar .social-tabs__content-item {
    margin: 0 1rem;
  }
}

/** Main Section Styles */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  padding: 0 1rem;
  position: relative;
  width: 100%;
  height: 100vh; /* Ajusta la altura según tus necesidades */
  text-align: center;
}
.main-image {
  margin-bottom: 4rem;
}
.main-title {
  margin-bottom: 0.7rem;
}
.main-paragraph {
  font-size: 1.4rem;
  margin-bottom: 5rem;
}
.main-button {
  border: 1px solid #fff;
  border-radius: 3px;
  font-size: 2rem;
  padding: 1rem 3rem;
}
.main ::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  background-color: #fff;
  width: 2px;
  height: 25.5%;
}
/** About Section Styles */
.about {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=main.css.map */
