@charset "UTF-8";
/** Primary Colors**/
/** Neutral Colors**/
/** Breakpoint Sass Variables**/
/** Tooltip Variables */
@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Raleway:wght@100;300;400;700;900&display=swap");
.tooltip-github {
  position: relative;
}
.tooltip-github::after {
  content: attr(data-tooltip);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  background-color: #3f3f4b;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  text-align: center;
  transition: opacity 0.2s, visibility 0.2s;
}
.tooltip-github:hover::after {
  opacity: 1;
  visibility: visible;
}
.tooltip-github::after {
  top: -50px;
}

.tooltip-linkedin {
  position: relative;
}
.tooltip-linkedin::after {
  content: attr(data-tooltip);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  background-color: #3f3f4b;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  text-align: center;
  transition: opacity 0.2s, visibility 0.2s;
}
.tooltip-linkedin:hover::after {
  opacity: 1;
  visibility: visible;
}
.tooltip-linkedin::after {
  top: -50px;
}

.tooltip-portfolio {
  position: relative;
}
.tooltip-portfolio::after {
  content: attr(data-tooltip);
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  background-color: #3f3f4b;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  text-align: center;
  transition: opacity 0.2s, visibility 0.2s;
}
.tooltip-portfolio:hover::after {
  opacity: 1;
  visibility: visible;
}
.tooltip-portfolio::after {
  top: -50px;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10 PX = 1rem**/
  scroll-behavior: smooth;
}
@media only screen and (min-width: 90em) {
  html {
    font-size: 70%;
  }
}

* {
  color: #fff;
}

body {
  background-color: #141414;
  font-family: "Albert Sans", sans-serif;
}
body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../images/keyboard-image.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(4px);
  width: 100%;
  height: calc(100vh + 2.2rem);
  z-index: -1;
}
@media only screen and (min-width: 30em) {
  body::before {
    background-image: url("../images/keyboard-gif.gif");
    background-size: cover;
    background-position: center;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
}

.container-full {
  width: 100%;
  margin: 0 auto;
}

.container-mx {
  width: min(95%, 120rem);
  margin: 0 auto;
}

.section-md {
  padding: 140px 0;
}

.section-xl {
  padding: 270px 0;
}

.w-70 {
  width: 100%;
  max-width: 73.3333%;
}

.w-50 {
  width: 100%;
  max-width: 50%;
}

.w-30 {
  width: 100%;
  max-width: 33.3333%;
}

.w-20 {
  width: 100%;
  max-width: 25%;
}

.divider-center {
  position: relative;
  border: 2px solid #a7a7af;
  border-radius: 50%;
  margin: 1rem 0;
  width: 5px;
  height: 2px;
}
.divider-center::before {
  content: "";
  position: absolute;
  left: -60px;
  top: 0;
  border: 1px solid #a7a7af;
  width: 50px;
  height: 1px;
}
.divider-center::after {
  content: "";
  position: absolute;
  right: -60px;
  top: 0;
  border: 1px solid #a7a7af;
  width: 50px;
  height: 1px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.show {
  visibility: visible;
  opacity: 1;
}

.tooltip {
  position: relative;
}
.tooltip::after {
  opacity: 1;
  visibility: visible;
}
.tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img,
picture {
  display: block;
  user-select: none;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input[type=range] {
  margin-block: 1.25rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  border: 1px solid #fff;
  margin-top: 1.5rem;
}

/** Headings **/
h1,
h2,
h3,
h4 {
  font-family: "Pathway Gothic One", sans-serif;
  margin: 0 0 5rem 0;
  line-height: 1.2;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 2.4rem;
}

/** Global */
p {
  margin: 0;
}

.about .card__content:is(:hover) .divider-center {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-out;
}
.about .card__content:is(:hover) #g_eyes-closed {
  opacity: 1;
}
.about .card__content:is(:hover) #g_eyes-closed .cls-16 {
  stroke-width: 5;
}
.about .card__content:is(:hover) #g_eyes-open {
  opacity: 0;
}
.about .avatar__svg {
  transition: all 1s ease-in-out;
}
.about .avatar__svg .cls-1,
.about .avatar__svg .cls-16 {
  fill: none;
}
.about .avatar__svg .cls-2 {
  clip-path: url(#clip-path);
}
.about .avatar__svg .cls-3 {
  fill: #edb98a;
}
.about .avatar__svg .cls-10,
.about .avatar__svg .cls-13,
.about .avatar__svg .cls-14,
.about .avatar__svg .cls-17,
.about .avatar__svg .cls-18,
.about .avatar__svg .cls-19,
.about .avatar__svg .cls-3,
.about .avatar__svg .cls-4,
.about .avatar__svg .cls-6 {
  fill-rule: evenodd;
}
.about .avatar__svg .cls-4 {
  fill-opacity: 0.1;
}
.about .avatar__svg .cls-5 {
  clip-path: url(#clip-path-2);
}
.about .avatar__svg .cls-6 {
  fill: #262e33;
}
.about .avatar__svg .cls-7 {
  opacity: 0.9;
}
.about .avatar__svg .cls-8 {
  font-size: 16px;
  font-family: Verdana;
}
.about .avatar__svg .cls-8,
.about .avatar__svg .cls-9 {
  fill: #efefef;
}
.about .avatar__svg .cls-9 {
  font-size: 28px;
  font-family: BernardMT-Condensed, Bernard MT Condensed;
}
.about .avatar__svg .cls-10 {
  fill-opacity: 0.7;
}
.about .avatar__svg .cls-11 {
  clip-path: url(#clip-path-3);
}
.about .avatar__svg .cls-12 {
  fill: #fff;
}
.about .avatar__svg .cls-13 {
  fill: #ff4f6d;
}
.about .avatar__svg .cls-14 {
  fill-opacity: 0.16;
}
.about .avatar__svg .cls-15 {
  opacity: 0;
}
.about .avatar__svg .cls-16 {
  stroke: #282828;
  stroke-miterlimit: 10;
  stroke-width: 10px;
}
.about .avatar__svg .cls-17 {
  fill-opacity: 0.6;
}
.about .avatar__svg .cls-18 {
  fill: #252c2f;
}
.about .avatar {
  position: relative;
}
.about .avatar__bubble {
  position: absolute;
  top: -10px;
  left: 100%;
  background-color: #fff;
  border: 2px solid #a7a7af;
  border-radius: 10px 10px 10px 0;
  color: #242636;
  padding: 1rem;
  text-align: center;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  white-space: nowrap;
  width: auto;
}
.about .avatar__image {
  position: relative;
  margin-bottom: 1rem;
  width: 100px;
}
.about .avatar__image::after {
  content: "";
  position: absolute;
  bottom: 0;
  border-radius: 10px 10px 0px 0px;
  left: 0;
  width: 100%;
  height: 70%;
  background-color: #d4d4e1;
  z-index: 1;
}
.about .avatar__svg {
  position: inherit;
  z-index: 2;
}

/** Loader ------------------------------*/
.loading__dev {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20rem;
  font-size: 5rem;
  animation-timeline: "2";
}
.loading__dev span {
  padding-top: 10px;
  font-size: 2rem;
}
@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icon-spinner-3:before {
  content: "\e002";
}

/** Header Styles ------------------------------*/
.header {
  position: fixed;
  background: linear-gradient(180deg, var(--black-3) 0%, rgba(0, 0, 0, 0) 100%);
  backdrop-filter: blur(4px);
  top: 0;
  padding: 0;
  z-index: 4;
}
.header .navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header .navbar .logo {
  flex: 0 0 auto;
}
.header .navbar-tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 0 auto;
  gap: 1rem;
}
.header .navbar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
}
.header .navbar-menu__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header .navbar-menu__content-item {
  margin: 0 1rem;
}
.header .navbar-menu__content-item a {
  color: #fff;
  font-size: 1.6rem;
}
.header .navbar-social__content {
  display: flex;
  flex-direction: row;
}
.header .navbar-social__content-item {
  margin: 0 1rem;
}
.header .navbar #theme-toggle {
  border-radius: 10px;
  border: 1px solid #3D3D3D;
  padding: 0.8rem;
  transition: all 0.5s ease-in-out;
}
.header .navbar #theme-toggle:hover {
  border-color: #fff;
}
@media only screen and (min-width: 37.5em) {
  .header {
    padding: 0 10rem;
  }
  .header .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .header .navbar .social-tabs__content {
    display: flex;
    flex-direction: row;
  }
  .header .navbar .social-tabs__content-item {
    margin: 0 1rem;
  }
}

/** Main Section Styles ------------------------------*/
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  overflow: hidden;
  padding: 0 1rem;
  width: 100%;
  height: 95vh; /* Ajusta la altura según tus necesidades */
  text-align: center;
}
.main-title {
  margin-bottom: 0.7rem;
}
.main-paragraph {
  font-size: 1.4rem;
  margin-bottom: 8rem;
}
.main-button {
  position: relative;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  font-size: 2rem;
  padding: 1rem 3rem;
}
.main-button::after {
  background: #ffffff;
  content: "";
  height: 100vh;
  left: 50%;
  position: absolute;
  top: 100%;
  width: 1px;
}
@media only screen and (min-width: 37.5em) {
  .main-image {
    margin-bottom: 4rem;
  }
}

/** About Section Styles ------------------------------*/
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column-reverse;
  padding-top: 4rem;
  border-top: 1px solid #fff;
  overflow: hidden;
}
.about::before {
  content: "";
  background-image: url(../images/about-bg-1.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: matrix(0, 1, 1, 0, 0, 0) rotate(270deg) translateY(25rem);
  z-index: -1;
}
.about::after {
  content: "";
  background-image: linear-gradient(0deg, #141414, #0f1524, #000);
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}
.about__description {
  font-size: 1.6rem;
  line-height: 2;
  margin-top: 2rem;
  text-align: center;
}
.about__description h2 {
  margin-bottom: 1rem;
}
.about__description hr {
  margin: 0 auto;
  width: 220px;
}
.about__description p {
  margin-top: 2rem;
}
.about__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: none;
  border: none;
}
.about__card::before {
  content: "";
  position: absolute;
  right: 0;
  top: -2rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.01rem);
  -webkit-backdrop-filter: blur(0.01rem);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  max-width: 600px;
  height: 300px;
  z-index: -1;
}
.about .card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 3px solid #3f3f4b;
  box-shadow: 5px 5px 0 0 #76767c;
  border-radius: 5px;
  padding: 2rem 0;
  width: 300px;
  height: 350px;
}
.about .card__content .card__title,
.about .card__content .card__description,
.about .card__content .avatar__image,
.about .card__content .avatar__bubble {
  transition: transform 0.8s ease;
}
.about .card__content:hover .card__title,
.about .card__content:hover .card__description,
.about .card__content:hover .avatar__image,
.about .card__content:hover .avatar__bubble {
  transform: translateY(-14px);
}
.about .card__content:hover .card__buttons {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}
.about .card__title, .about .card__description {
  font-family: "Raleway", sans-serif;
  color: #0e0e16;
  word-spacing: 2px;
}
.about .card__title {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: -1px;
  text-transform: uppercase;
}
.about .card__description {
  color: #a7a7af;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  letter-spacing: 4px;
}
.about .card__buttons {
  transform: none;
  transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.about .card__buttons ul {
  display: flex;
  flex-direction: row;
}
.about .card__buttons ul li {
  padding: 0 1rem;
}
.about .card__buttons ul li a i {
  font-size: 3rem;
  color: #0e0e16;
}
@media only screen and (min-width: 37.5em) {
  .about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 270px;
  }
  .about::before {
    background-size: contain;
    transform: matrix(0, 1, 1, 0, 0, 0) rotate(270deg) translateY(25rem);
  }
  .about__description {
    color: #fff;
    padding: 0 2rem;
    text-align: inherit;
  }
  .about__description hr {
    margin: 0;
    width: 220px;
  }
  .about .card__buttons {
    opacity: 0;
    visibility: hidden;
    transform: translateY(34px);
  }
}

/** Skills Section Styles ------------------------------*/
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  align-items: center;
  overflow: hidden;
}
.skills::before {
  position: absolute;
  content: "";
  left: 40%;
  top: -160px;
  background: radial-gradient(52.42% 52.36% at 39.89% 51.36%, rgba(69, 62, 151, 0.8901960784) 0%, rgba(18, 19, 29, 0) 70%);
  background-size: 1200px 100%;
  width: 1200px;
  height: 1200px;
  z-index: -1;
}
.skills__intro {
  text-align: center;
  margin-bottom: 5rem;
}
.skills__logos {
  overflow: hidden;
  padding: 1rem 0;
  position: relative;
  width: 100%;
  max-width: 580px;
  height: auto;
}
.skills .logo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem 0;
  place-items: center;
  width: 100%;
}
.skills .logo__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 20px;
  background-color: #8c98ff;
  padding: 2rem;
  width: 100%;
  height: auto;
  max-width: 70px;
  max-height: 70px;
  animation: scaleIn 1s ease-in-out infinite alternate;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.2);
}
.skills .logo__image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(120deg, #5c589f 4.89%, #58559c 50%, #25244d 102%);
}
.skills .logo__image::after {
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  border-radius: inherit;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  z-index: -1;
  background: linear-gradient(135deg, #b4b3ff 0.46%, rgba(136, 135, 185, 0.5) 45.36%, rgba(174, 173, 246, 0.5) 96.24%);
}
.skills .logo__image img {
  object-fit: contain;
  width: 100%;
  height: auto;
  min-height: 80px;
  max-height: 80px;
  z-index: 1;
}
@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.skills__lines, .skills__lines--2 {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
}
.skills__lines svg, .skills__lines--2 svg {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.skills__lines svg line, .skills__lines--2 svg line {
  stroke: white;
  stroke-width: 0.07;
}
.skills__lines--2 {
  transform: rotate(90deg);
  transform-origin: center center;
}
@media only screen and (min-width: 37.5em) {
  .skills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .skills__intro {
    font-size: 1.6rem;
    padding: 0 10rem;
    text-align: left;
  }
  .skills .logo__image {
    max-width: 110px;
    max-height: 110px;
  }
  .skills__lines, .skills__lines--2 {
    opacity: 1;
  }
}

/** Footer Section Styles ------------------------------*/
.footer__inner .icons {
  padding: 1rem;
}
.footer__inner .icons__item a i {
  font-size: 2rem;
}
.footer__inner .copyright__list li {
  font-size: 1.6rem;
  border: none;
}
.footer__inner .copyright__list li span {
  font-weight: 300;
}
@media only screen and (min-width: 37.5em) {
  .footer .copyright__list li {
    padding: 0 1.4rem;
  }
  .footer .copyright__list li:not(:last-child) {
    border-right: 1px solid #fff;
  }
}

/*# sourceMappingURL=main.css.map */
