@import "sass/variables";
@import "sass/mixins";

@import "sass/base";
@import "sass/reset";
@import "sass/typography";

/** Header Styles */

.header {
  background-color: $bg-dark-100;
  filter: blur(1);

  position: fixed;
  top: 0;
  padding: 0 10rem;

  .navbar {
    @include flex-column;
    @include flex-center;
    .logo {
      flex: 0 0 auto;
    }
    &-tabs {
      @include flex-row;
      flex: 1 0 auto;
    }
    &-menu {
      @include flex-column;
      @include flex-center;
      flex: 1 0 auto;
      &__content {
        @include flex-row;
        align-items: center;
        &-item {
          margin: 0 1rem;
          a {
            color: $white;
            font-size: 1.6rem;
          }
        }
      }
    }

    &-social {
      &__content {
        @include flex-row;

        &-item {
          margin: 0 1rem;
          a {
            svg {
            }
          }
        }
      }
    }
  }

  @include mediaQuery(phone) {
    .navbar {
      @include flex-row;
      @include flex-between;

      .social-tabs {
        &__content {
          @include flex-row;
          &-item {
            margin: 0 1rem;
            a {
              svg {
              }
            }
          }
        }
      }
    }
  }
}

/** Main Section Styles */

.main {
  @include flex-column;
  @include flex-center;

  margin-top: 5rem;
  overflow: hidden;
  padding: 0 1rem;
  width: 100%;
  height: 95vh; /* Ajusta la altura según tus necesidades */
  text-align: center;

  &-title {
    margin-bottom: 0.7rem;
  }

  &-paragraph {
    // color: $text-08;
    font-size: 1.4rem;
    margin-bottom: 8rem;
  }

  &-button {
    color: white;
    position: relative;
    border: 1px solid $white;
    border-radius: 3px;
    font-size: 2rem;
    padding: 1rem 3rem;

    &::after {
      background: #ffffff;
      content: "";
      height: 100vh;
      left: 50%;
      position: absolute;
      top: 100%;
      width: 1px;
    }
  }

  @include mediaQuery(phone) {
    &-image {
      margin-bottom: 4rem;
    }
  }
}

/** About Section Styles */

.about {
  @include flex-column;
  @include flex-center;
  flex-direction: column-reverse;
  background-color: $bg-200;
  padding-top: 4rem;


  &-description {
    color: $dark-primary;
    font-size: 1.6rem;
    line-height: 2;
    margin-top: 2rem;
    text-align: center;
    width: 90vw;

    hr {
        margin: 0 auto;
        width: 220px;
      }
    p {
        margin-top: 2rem;
    }
  }

  &-image {
    padding: 0 2rem;
    figure {
      img {
        aspect-ratio: 2/1;
        object-fit: cover;
        border-radius: 1rem;
        width: auto;

      }
    }
  }

  @include mediaQuery(phone) {
    @include flex-row;
    justify-content: space-evenly;
      padding-top: 270px;

      &-description {
        padding: 0 1rem;
        text-align: inherit;
        width: 40vw;

        hr {
            margin: 0;
            width: 220px;
          }
      }
      &-image figure img {
        aspect-ratio: 2/1;
        object-fit: cover;
        border-radius: 10px;
        height: 100%;
        width: 30vw;
      }
  }
}
